<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.smbms.dao.user.UserMapper">
	<insert id="add">
		insert into smbms_user 
		(userCode,userName,userPassword,userRole,gender,birthday,phone,address,creationDate,createdBy) 
		values(#{userCode},#{userName},#{userPassword},#{userRole},#{gender},#{birthday},#{phone},#{address},#{creationDate},#{createdBy})
	</insert>
	
	<select id="getLoginUser" resultType="cn.smbms.pojo.User">
		select * from smbms_user where userCode=#{userCode}
	</select>
	
	<select id="getUserList" resultType="cn.smbms.pojo.User" >
		select smbms_user.*,smbms_role.roleName userRoleName FROM smbms_user JOIN smbms_role WHERE userRole=smbms_role.id
		<if test="#{arg0}.toString()!='' and #{arg0}!=null">
			and userName like "%"#{arg0}"%"
		</if>
		<if test="arg1>0">
			and userRole = #{arg1}
		</if>
		order by creationDate DESC limit #{arg2},#{arg3}
	</select>
	
	<delete id="deleteUserById">
		delete from smbms_user where id=#{id}
	</delete>
	
	<select id="getUserById" resultType="cn.smbms.pojo.User">
		select smbms_user.*,smbms_role.roleName userRoleName 
		FROM smbms_user JOIN smbms_role WHERE userRole=smbms_role.id 
		AND smbms_user.id=#{id}
	</select>
	
	<update id="modify">
		update smbms_user 
		set userName=#{userName},gender=#{gender},birthday=#{birthday},phone=#{phone},address=#{address},userRole=#{userRole},modifyBy=#{modifyBy},modifyDate=#{modifyDate} 
		where id = #{id} 
	</update>
	
	<update id="updatePwd">
		update smbms_user set userPassword= #{arg1} where id = #{arg0}
	</update>
	
	<select id="getUserCount" resultType="int">
		select count(1) as count from smbms_user,smbms_role where smbms_user.userRole = smbms_role.id
		<if test="#{arg0}.toString()!='' and #{arg0}!=null">
			and smbms_user.userName like "%"#{arg0}"%"
		</if>
		<if test="arg1>0">
			and smbms_user.userRole like #{arg1}
		</if>
	</select>
</mapper>